.background {
  width: 100%;
  height: 100vh;
  background-image: url("background.png");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: repeat-x;
  position: absolute;
}
.background1 {
  width: 100%;
  height: 100vh;
  background-image: url("background1.png");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: repeat-x;
  position: absolute;
}
.background2 {
  width: 100%;
  height: 100vh;
  background-image: url("background2.png");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: repeat-x;
  position: absolute;
}

.background3 {
  width: 100%;
  height: 100vh;
  background-image: url("background3.png");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: repeat-x;
  position: absolute;
}

.background4 {
  width: 100%;
  height: 100vh;
  background-image: url("background4.png");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: repeat-x;
  position: absolute;
}

.background5 {
  width: 100%;
  height: 100vh;
  background-image: url("background5.png");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: repeat-x;
  position: absolute;
}

.start {
  width: 1366px;
  height: 100vh;
  background-image: url("start.jpg");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: repeat-x;
  position: absolute;
}

.body {
  margin: 0px;
}

.boy {
  height: 250px;
  position: absolute;
  margin-top: 305px;
  margin-left: 20px;
}

.score {
  position: absolute;
  font-size: 60px;
  margin-left: 35px;
  margin-top: 40px;
  font-family: "Arial";
  font-weight: bold;
}
.score1 {
  position: absolute;
  font-size: 60px;
  margin-left: 230px;
  margin-top: 40px;
  font-family: "Arial";
  font-weight: bold;
}
.score2 {
  position: absolute;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 50px;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  color: red;
}
.score3 {
  position: absolute;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 50px;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  color: rgb(0, 0, 0);
}

.score4 {
  position: absolute;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 50px;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  color: rgb(0, 0, 0);
}
.score5 {
  position: absolute;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 50px;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  color: rgb(230, 162, 162);
}

.score6 {
  position: absolute;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 50px;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  color: rgb(255, 255, 255);
}

.score7 {
  position: absolute;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 50px;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  color: rgb(0, 0, 0);
}

.box {
  position: absolute;
  width: 70px;
  height: 120px;
  background-image: url("flame.gif");
  background-color: transparent;
  margin-top: 430px;
  background-size: 70px 100%;
}

.end {
  width: 100%;
  height: 100vh;
  background-image: url("lost.png");
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: "Eras Bold ITC";
  visibility: hidden;
}

.btn {
  width: 400px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  background-color: rgb(9, 184, 9);
  color: rgb(0, 0, 0);
  border-color: black;
  border-radius: 30px;
  border: solid;
  position: absolute;
  margin-top: 350px;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
  border-color: rgb(9, 184, 9);
  border: solid rgb(9, 184, 9);
  transition-duration: 500ms;
}

.btnRUN {
  position: absolute;
  margin-top: 480px;
  margin-left: 80px;
  width: 250px;
  height: 60px;
  border-radius: 100px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: white;
  background-color: black;
  border: solid 5px rgb(2, 245, 34);
}

.btnRUN:hover {
    background-color: chartreuse;
    color: black;
    cursor: pointer;       /* hand cursor */
    border: solid 5px rgb(0, 0, 0);
}

.btn2 {
  width: 400px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  background-color: rgb(9, 184, 9);
  color: rgb(0, 0, 0);
  border-color: black;
  border-radius: 30px;
  border: solid;
  position: absolute;
  margin-top: 350px;
}

.btn2:hover {
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
  border-color: rgb(9, 184, 9);
  border: solid rgb(9, 184, 9);
  transition-duration: 500ms;
}

.btn3 {
  width: 400px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  background-color: rgb(9, 184, 9);
  color: rgb(0, 0, 0);
  border-color: black;
  border-radius: 30px;
  border: solid;
  position: absolute;
  margin-top: 350px;
}

.btn3:hover {
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
  border-color: rgb(9, 184, 9);
  border: solid rgb(9, 184, 9);
  transition-duration: 500ms;
}

.won {
  width: 100%;
  height: 100vh;
  background-image: url("won.png");
  margin: 0px;
}

.wonend {
  width: 100%;
  height: 100vh;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 90px;
  font-weight: bold;
  color: rgb(16, 11, 88);
  font-family: "Arial";
}

.cau {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  margin-left: 850px;
  margin-top: 30px;
  font-style: italic;
  color: rgb(255, 255, 255);
}
.cau1 {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  margin-left: 850px;
  margin-top: 90px;
  font-style: italic;
  color: rgb(255, 255, 255);
}
.cau2 {
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  margin-left: 850px;
  margin-top: 150px;
  font-style: italic;
  color: rgb(241, 34, 34);
}
.btn1 {
  position: absolute;
  margin-top: 460px;
  margin-left: 80px;
  width: 250px;
  height: 100px;
  border-radius: 100px;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  color: white;
  background-color: black;
  border: solid 5px rgb(2, 245, 34);
}
.btn1:hover {
  background-color: chartreuse;
  color: black;
  cursor: pointer;
  border: solid 5px rgb(0, 0, 0);
}
.img1 {
  width: 300px;
  height: 160px;
  position: absolute;
  margin-left: 50px;
  margin-top: 90px;
}

.img2 {
  width: 300px;
  height: 160px;
  position: absolute;
  margin-left: 460px;
  margin-top: 95px;
}

.img3 {
  width: 300px;
  height: 160px;
  position: absolute;
  margin-left: 900px;
  margin-top: 100px;
}

.img4 {
  width: 300px;
  height: 160px;
  position: absolute;
  margin-left: 50px;
  margin-top: 350px;
}

.img5 {
  width: 300px;
  height: 160px;
  position: absolute;
  margin-left: 460px;
  margin-top: 350px;
}

.img6 {
  width: 300px;
  height: 160px;
  position: absolute;
  margin-left: 900px;
  margin-top: 350px;
}

.p1 {
  margin-left: 150px;
  position: absolute;
  margin-top: 280px;
  font-family: "BatBoo";
  color: cornsilk;
}

.p2 {
  margin-left: 580px;
  position: absolute;
  margin-top: 280px;
  font-family: "BatBoo";
  color: cornsilk;
}

.p3 {
  margin-left: 1010px;
  position: absolute;
  margin-top: 280px;
  font-family: "BatBoo";
  color: cornsilk;
}

.p4 {
  margin-left: 150px;
  position: absolute;
  margin-top: 540px;
  font-family: "BatBoo";
  color: cornsilk;
}

.p5 {
  margin-left: 580px;
  position: absolute;
  margin-top: 540px;
  font-family: "BatBoo";
  color: cornsilk;
}

.p6 {
  margin-left: 1010px;
  position: absolute;
  margin-top: 540px;
  font-family: "BatBoo";
  color: cornsilk;
}

.choose {
  font-size: 20px;
  position: absolute;
  font-family: "BatBoo";
  font-weight: bold;
  margin-left: 450px;
  color: rgb(2, 2, 2);
}

.p1:hover {
  background-color: rgba(248, 248, 255, 0.584);
  color: red;
  font-family: "BatBoo";
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 600ms;
  border-radius: 20px;
}

.p2:hover {
  background-color: rgba(248, 248, 255, 0.584);
  color: red;
  font-family: "BatBoo";
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 600ms;
  border-radius: 20px;
}

.p3:hover {
  background-color: rgba(248, 248, 255, 0.584);
  color: red;
  font-family: "BatBoo";
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 600ms;
  border-radius: 20px;
}

.p4:hover {
  background-color: rgba(248, 248, 255, 0.584);
  color: red;
  font-family: "BatBoo";
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 600ms;
  border-radius: 20px;
}

.p5:hover {
  background-color: rgba(248, 248, 255, 0.584);
  color: red;
  font-family: "BatBoo";
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 600ms;
  border-radius: 20px;
}

.p6:hover {
  background-color: rgba(248, 248, 255, 0.584);
  color: red;
  font-family: "BatBoo";
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 600ms;
  border-radius: 20px;
}

.img1 {
  cursor: pointer;
  transition-duration: 500ms;
}

.img2 {
  cursor: pointer;
  transition-duration: 500ms;
}

.img3 {
  cursor: pointer;
  transition-duration: 500ms;
}

.img4 {
  cursor: pointer;
  transition-duration: 500ms;
}

.img5 {
  cursor: pointer;
  transition-duration: 500ms;
}

.img6 {
  cursor: pointer;
  transition-duration: 500ms;
}

.menu2 {
  background-image: url("choose.jpg");
  width: 1350px;
  background-position-y: -58px;
  position: absolute;
}

.btnchoose {
  width: 200px;
  height: 55px;
  color: rgb(0, 0, 0);
  background-color: red;
  font-size: 20px;
  font-family: "BatBoo";
  border: solid;
  font-weight: bold;
  border-radius: 50px;
  position: absolute;
  margin-top: 20px;
  margin-left: 850px;
}

.btnchoose:hover {
  background-color: blueviolet;
  cursor: pointer;
  transition-duration: 500ms;
  font-family: "BatBoo";
}

@font-face {
  font-family: "BatBoo";
  src: url("BatBoo.woff");
}
